/*
 * Background
 */
/*Free Stock videos by Videezy: http://www.videezy.com*/
video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  opacity: .1;
}

/*
 * Font overrides
 */

.navbar-header, .nav, .navbar-nav, h1, h2 {
  font-family: 'Orbitron', sans-serif;
}

/*
 * Affect Display
 */

.affect--emotion_set-title {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#131313+0,131313+100&0.8+0,0.2+100 */
  background: -moz-linear-gradient(bottom,  rgba(19,19,19,.8) 0%, rgba(19,19,19,0.2) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(bottom,  rgba(19,19,19,.8) 0%,rgba(19,19,19,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to top,  rgba(19,19,19,.8) 0%,rgba(19,19,19,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc131313', endColorstr='#33131313',GradientType=0 ); /* IE6-9 */
  border-top: 1px solid white;
  border: 0px 1px 1px 1px solid #333;
  font-family: 'Orbitron', sans-serif;
  padding: 18px;
}
    background: #1C1C1C;
.affect-display_emotion {
  font-size: 14px;
  text-align: left;
  padding-bottom: 4px;
}

.affect--display_main-area-wrapper, .transparent--module_alt-01 {
  padding: 0px 10px 0px 10px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#131313+0,222222+100 */
  background: rgb(19,19,19); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(19,19,19,1) 0%, rgba(34,34,34,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(19,19,19,1) 0%,rgba(34,34,34,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(19,19,19,1) 0%,rgba(34,34,34,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131313', endColorstr='#222222',GradientType=0 ); /* IE6-9 */
}

.affect--display_main-area {
  overflow-y: scroll;
  height: 50vh;
  padding: 10px;
  padding-right: 30px;
}

.affect--display_name {
  background: #010101;
  padding: 4px;
  color: #CCC;
  vertical-align: middle;
}

.affect--display_scores {
  font-size: 12px;
  padding: 4px;
  padding-top: 8px;
}

.affect--display_rank {
  background: #CCC;
  padding: 4px;
  color: #131313;
  margin-left: 4px;
  vertical-align: middle;
}

.affect--display_row-title {
  background: #010101;
  padding: 4px;
  color: #999;
  vertical-align: middle;
  text-align: right;
  width: 150px;
  float: right;
}

/*
 * Layout
 */

.transparent--module {
  position: fixed;
  z-index: 10;
  opacity: .075;
  -webkit-transition: opacity .5s; /* Safari */
  transition: opacity .5s;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(204,204,204,0.25);
  -moz-box-shadow: 0px 1px 8px 0px rgba(204,204,204,0.25);
  box-shadow: 0px 1px 8px 0px rgba(204,204,204,0.25);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transparent--module:hover {
  opacity: 1;
}

.form--nlp {
  bottom: 10;
  right: 15;
  width: 350px;
  padding-top: 10px;
}

.transparent--module_module-1 {
  top: 10;
  left: 15;
  height: 440px;
  width: 250px;
}

.transparent--module_module-2 {
  top: 460;
  left: 15;
  height: 440px;
  width: 250px;
}

@media screen and (max-height: 900px) {
    .transparent--module_module-2 {
        display: none;
    }
}


/*
 * Heading overrides
 */

h6 {
   font-size: 12px;
}

/*
 * Bootstrap overrides
 */

.panel, .well, .alert, .form-control, .btn, .jumbotron,
.container .jumbotron,.navbar-inverse {
  border-radius: 0px
}

.form-control {
  height: 22px;
  padding: 3px 6px;
  font-size: 12px;
  background: #565656;
  color: #CCC;
}

.navbar-inverse {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#131313+0,131313+100&0.8+0,0.2+100 */
  background: -moz-linear-gradient(top,  rgba(19,19,19,0.8) 0%, rgba(19,19,19,0.2) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(19,19,19,0.8) 0%,rgba(19,19,19,0.2) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(19,19,19,0.8) 0%,rgba(19,19,19,0.2) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc131313', endColorstr='#33131313',GradientType=0 ); /* IE6-9 */
  border-bottom: 1px solid white;
}

/*
 * Bootstrap overrides
 */


::-webkit-scrollbar {
   width: 12px;
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
   background: #FFF;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
