/*
 * Layout
 */

.transparent--module {
  position: fixed;
  z-index: 10;
  opacity: .075;
  -webkit-transition: opacity .5s; /* Safari */
  transition: opacity .5s;
  -webkit-box-shadow: 0px 1px 8px 0px rgba(204,204,204,0.25);
  -moz-box-shadow: 0px 1px 8px 0px rgba(204,204,204,0.25);
  box-shadow: 0px 1px 8px 0px rgba(204,204,204,1);
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.transparent--module_module-1 {
  top: 10;
  left: 15;
  height: 440px;
  width: 250px;
}

.transparent--module_module-2 {
  top: 460;
  left: 15;
  height: 440px;
  width: 250px;
}

@media screen and (max-height: 900px) {
    .transparent--module_module-2 {
        display: none;
    }
}


.form--nlp {
  bottom: 0;
  right: 15;
  width: 400px;
}

.transparent--module:hover {
  opacity: 1;
}



/*
 * Heading overrides
 */

h6 {
   font-size: 12px;
}

/*
 * Bootstrap overrides
 */

.form-control {
  height: 22px;
  padding: 3px 6px;
  font-size: 12px;
  background: #565656;
  color: #CCC;
}
